@windicss;


:root {
    --c-brand: #187391 !important; // 主色调
    --c-brand-light: #1d8baf !important; // 主色调(高亮)
}

// 解决与 windicss 的冲突
.logo {
    display: inline-block;
}

// 滚动的缓冲
body {
    min-height: 100vh;
}

// 进度条颜色
#nprogress {
    --nprogress-color: #187391;
}

/*
* 全局滚动条
*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgb(246, 247, 248);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(233, 236, 239);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(246, 247, 248);
}

html.dark ::-webkit-scrollbar,
html.dark ::-webkit-scrollbar-track {
    background-color: #212529;
}

html.dark ::-webkit-scrollbar-thumb {
    background-color: #343a40;
}


.back-to-top {
    @apply shadow shadow-cyan-100;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem !important;
    width: 2.4rem !important;
    border-radius: 100%;
    mask: none !important;
    -webkit-mask: none !important;
    background-color: white !important;
}

.dark .back-to-top {
    background-color: #8094a8 !important;
}

.back-to-top::after {
    content: ' ';
    width: 20px;
    height: 20px;
    display: block;
    background-size: 100%;
    background-image: url('/images/back-to-top.svg');
}